.esquerdev-navbar {
    background-color: #071013;
    margin-bottom: 2%;
    opacity: 0.98;
}

.esquerdev-brand {
    display: flex;
    align-items: center;
    color: #d3a121;
    font-family: 'Logo Font', sans-serif;
    font-size: 200%;
    transition: color 0.3s;
}

#nav-logo {
    margin-right: 20px;
}

.written-logo {
    margin-top: 7px;
}

.esquer {
    color: #E61919;
    transition: color 0.3s;
}

.esquerdev-brand:hover {
    color: #E61919;
}

.esquerdev-brand:hover .esquer {
    color: #D3A121;
}

.esquerdev-nav-item {
    color: #D3A121;
    font-family: 'Quantico', sans-serif;
    font-size: 150%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
}

.esquerdev-nav-item:hover {
    border-bottom: 1px solid #B21313;
}

.esquerdev-nav-item-active, .esquerdev-nav-item:hover {
    color: #E61919;
}

.nav-external-svg {
    margin-right: 20px;
    fill: #B21313;
    transition: fill 0.2s;
}

.twitter-link:hover .twitter-svg {
    fill: #03A9F4;
}

.github-link:hover .github-svg {
    fill: #000000;
}

.onion-link:hover .onion-svg {
    fill: #7d4698;
}

small {
    color: #808080;
}

.footer-link {
    color: #808080;
}

.content {
    margin-bottom: 50px;
}

.small-footer {
    margin-top: 25px;
}

footer {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(199,199,199,0.67);
    padding: 3px;
}

@media (min-width: 600px) {
    .content {
        width: 40%;
    }

    #nav-logo {
        width: 70px;
        height: 70px;
    }

    .post-div {
        font-size: 19px;
    }
}

@media (max-width: 600px) {
    .nav-pages {
        display: none;
    }

    #nav-logo {
        width: 50px;
        height: 50px;
    }

    .post-div {
        font-size: 17px;
    }
}