.esquerdev-navbar {
    background-color: #071013;
    margin-bottom: 2%;
    opacity: 0.98;
}

.esquerdev-brand {
    color: #d3a121;
    font-family: 'Quantico', sans-serif;
    font-size: 200%;
    transition: color 0.3s;
}

.esquer {
    color: #E61919;
    transition: color 0.3s;
}

.esquerdev-brand:hover {
    color: #E61919;
}

.esquerdev-brand:hover .esquer {
    color: #d3a121;
}

.esquerdev-nav-item {
    color: #d3a121;
    font-family: 'Quantico', sans-serif;
    font-size: 150%;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
}

.esquerdev-nav-item:hover {
    border-bottom: 1px solid #B21313;
}

.esquerdev-active, .esquerdev-nav-item:hover {
    color: #E61919;
}

.nav-external-svg {
    padding: 5px;
    margin-right: 30px;
    fill: #B21313;
    transition: fill 0.2s;
}

.twitter-svg:hover {
    fill: #00ACED;
}

.github-svg:hover {
    fill: #000000;
}

.border {
    padding: 10px;
    margin-bottom: 25px;
}

small {
    color: #808080;
}

.footer-link {
    color: #808080;
}

.content {
    margin-bottom: 50px;
}

footer {
    background-color: #FFFFFF;
    border-top: 1px solid rgba(199,199,199,0.67);
}

.post-div {
    font-family: 'Open Sans', sans-serif;
}

.post-headers {
    margin-bottom: 50px;
}

.post-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
}

.post-description {
    font-size: 24px;
    color: #808080;
}

.post-info {
    font-size: 13px;
    letter-spacing: 1px;
}

.post-keywords {
    margin-top: 25px;
    font-size: 15px;
    color: rgba(0,0,0,0.75)
}

.post-div h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

@media (min-width: 600px) {
    .content {
        width: 40%;
    }

    .logo {
        width: 70px;
        height: 70px;
    }

    .post-div {
        font-size: 19px;
    }
}

@media (max-width: 600px) {
    .nav-pages {
        display: none;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    .post-div {
        font-size: 17px;
    }
}

/*
TODO: posts no index
*/

