.post-div {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 600px) {
    .post-div {
        font-size: 19px;
    }
}

@media (max-width: 600px) {
    .post-div {
        font-size: 17px;
    }
}

.post-headers {
    margin-bottom: 50px;
}

.post-title {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    margin-top: 7px;
}

.post-description {
    font-size: 21px;
    color: #808080;
}

.post-info {
    font-size: 15px;
    letter-spacing: 1px;
}

.post-keywords {
    margin-top: 25px;
    font-size: 15px;
    color: rgba(0,0,0,0.75)
}

.post-headers a {
    color: #B21313;
}

.post-body h2 {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

.post-body h3 {
    margin-top: 30px;
    font-size: 23px;
    font-weight: bold;
}

.post-body a{
    color: #B21313;
    font-weight: bold;
    border-bottom: 1px solid;
}

.post-body a:hover {
    color: blue;
    text-decoration: none;
}

.post-body img {
    max-width: 100%;
    height: auto;
}

.post-body blockquote {
    border-left: 4px solid #B21313;
    padding: 10px;
    margin-top: 45px;
    margin-bottom: 45px;
    font-size: 120%;
    font-style: italic;
}

.share-buttons-color {
    transition: fill 0.2s;
}

.share-button:hover .share-buttons-color{
    fill: #B21313;
}