@font-face {
    font-family: 'Quantico';
    src: url('quantico-bolditalic-webfont.woff2') format('woff2'),
         url('quantico-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Quantico';
    src: url('quantico-bold-webfont.woff2') format('woff2'),
         url('quantico-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Quantico';
    src: url('quantico-italic-webfont.woff2') format('woff2'),
         url('quantico-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Quantico';
    src: url('quantico-regular-webfont.woff2') format('woff2'),
         url('quantico-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
