.esquerdev-navbar {
    background-color: #071013;
    margin-bottom: 2%;
    height: 150px;
}

.esquerdev-brand {
    color: #d3a121;
    font-family: 'Quantico', sans-serif;
    font-size: xx-large;
}