{% extends "layout.html" %}

{% block extendable_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/about.css" %}">
{% endblock %}

{% block title %}404{% endblock %}

{% block content %}
    <h1 class="text-center" style="font-family: 'Quantico', sans-serif; color: #B21313; font-size: 72px">404<br>Nada encontrado :(</h1>
    <h2 class="text-center">Esse link não existe no site, camarada!</h2>
    <h4 class="text-center">Se você acha que deveria ter algo aqui, <a href="{% url "contact" %}">entre em contato</a></h4>
    {% load static %}
    <img src="{% static "logo.png" %}" alt="esquer.dev logo" class="logo">
{% endblock %}