{% extends "layout.html" %}

{% block extendable_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/static.css" %}">
    <link rel="stylesheet" href="{% static "css/post.css" %}">
{% endblock %}

{% block title %}Sobre{% endblock %}

{% block content %}
    <h1 class="title text-center">Sobre</h1>
    <div class="post-body post-div">
        <p>Enfim oficializamos a criação do <strong>esquer.dev</strong>, e eu não poderia estar mais feliz com isso. A ideia do site é antiga, mas o tempo e o ânimo para desenvolver o projeto só brotaram de vez ao final desse ano conturbado que foi 2019. Mas afinal, o que é esse site? Para quê? Para quem? Calma, que nesse <strong>Sobre/FAQ</strong> espero conseguir explicar tudo.</p>
        <h2>O que é o esquer.dev?</h2>
        <p>O esquer.dev é um blog comunista sobre tecnologia. Ou talvez um blog tecnológico sobre comunismo, o que você preferir. A ideia é ajudar a esquerda a se inserir/aprofundar nos assuntos que envolvem tecnologia e trazer discussões políticas com o viés de alguém que trabalha na área de desenvolvimento de software.</p>
        <p>A ideia do blog surge justamente da observação de que grande parte da esquerda (na verdade, do mundo em geral, mas aqui espero falar diretamente para vocês, camaradas) não está muito presente nas discussões públicas que envolvem tópicos diversos da tecnologia. Ainda, quando presente, tem um discurso no geral fraco e com buracos, o que é normal quando há falta de aprofundamento.</p>
        <p>E por que isso é um problema, se a maioria das pessoas de fato não é muito interessada nesses assuntos? É um problema porque, hoje em dia, a tecnologia digital está fortemente ligada com a política, como fica explícito quando algum acontecimento excepcional (como o grandioso caso da <a href="https://theintercept.com/series/mensagens-lava-jato/">Vaza Jato</a>) vem à tona.</p>
        <p>Vivemos uma era em que <em>política</em> é feita por tweets e lives no Facebook e escândalos de vazamento de dados já se tornaram comuns. A verdade é que qualquer luta política, hoje em dia, precisa dessa base digital; precisamos nos armar de conhecimento e aprofundamento tecnológico para crescer e chegar mais longe.</p>
        <p>O que eu quero é só isso - aprofundar, pegar todas as discussões que felizmente já estão sendo feitas em massa pela nossa esquerda e apresentar o viés de um programador comunista. O que a gente precisa saber? O que a gente precisa fazer? Como? Bem, é por aqui que eu espero poder compartilhar essas ideias.</p>
        <h2>O que você vai encontrar aqui?</h2>
        <p>A princípio, posts sobre política e tecnologia. </p>
        <p>A ideia dos posts, como a ideia do blog em si, é poder juntar os dois tópicos, mas nem sempre isso vai acontecer. Às vezes teremos apenas um post sobre política, outras vezes um post mais focado em tecnologia. Vamos ver como a coisa vai indo para que eu possa moldar o conteúdo de acordo com o que realmente interessa e é importante.</p>
        <p>Os posts nem sempre serão discussões ou ensaios; muitas vezes serão tutoriais ou guias sobre segurança e privacidade digital, por exemplo, seguindo o mote geral do blog.</p>
        <p>Aos poucos, também quero ir disponibilizando algumas ferramentas para uso de vocês aqui pelo site mesmo, mas isso ficará mais claro em breve.</p>
        <h2>Sobre a segurança do site</h2>
        <p>O <strong>esquer.dev</strong> vai focar muito na parte de segurança digital, privacidade e afins. Isso vale tanto para os temas dos posts, quanto para a base do site como um todo. Isso significa que, acima de tudo, prezamos pela segurança e privacidade do usuário.</p>
        <p>O site não tem e não terá <strong>nenhum</strong> JavaScript, então você pode acessá-lo com o JavaScript desativado, ou com extensões como o <a href="https://noscript.net/">NoScript</a> sem problema nenhum. O site não usa, nem usará, nenhum programa externo de <em>analytics</em> nem nunca exibirá nenhuma propaganda mantida por serviços externos.</p>
        <p>Valorizamos sua privacidade, de verdade. Leia mais sobre isso em nossa <a href="{% url "privacy" %}">política de privacidade</a></p>
        <h2>Quem está por trás do esquer.dev?</h2>
        <p>O esquer.dev é um blog de uma pessoa só, pelo menos por enquanto. Eu considerei deixar minha identidade de lado, já que de fato não é o foco do blog, mas como não é algo que eu conseguiria efetivamente esconder preferi já deixar registrado aqui para que ninguém venha tentar me desmascarar no futuro.</p>
        <p>Quem cuida do blog sou eu (<em>uau</em>), <strong>yyyyyyyan</strong> (mas você pode me chamar de <strong>Yan</strong>). Você pode falar comigo diretamente no meu Twitter pessoal, <strong><a href="https://twitter.com/@yyyyyyyan_">@yyyyyyyan_</a></strong>. Se quiser saber algo sobre mim ou só bater um papo, me procure por lá. Por aqui, no blog, pretendo deixar minha identidade o mais por fora possível.</p>
        <h2>Por que um blog?</h2>
        <p>É fato que blogs já não estão mais muito em alta, ultimamente, eu não poderia negar isso. É fato, também, que eu quero que o conteúdo que eu produzir atinja o máximo de pessoas possível, e que talvez a forma de mídia que eu esteja escolhendo acabe se tornando um impeditivo nesse ponto. Então por que estou fazendo um blog?</p>
        <p>A verdade é que, no momento, é o melhor que eu posso fazer. Com o blog pronto (na parte da infraestrutura), criar conteúdo, para mim, fica muito mais fácil e convidativo. Eu só preciso sentar, escrever e publicar. Nesse momento, é o que vai ser possível.</p>
        <p>Mas isso vai ser bom! Por quê? Porque eu quero, com o tempo, transformar o esquer.dev em mais que um blog, em um agregador de várias coisas diferentes (conteúdo em diferentes mídias, ferramentas, recomendações) que só a estrutura de um site vai me proporcionar.</p>
        <p>De qualquer maneira, eu pretendo levar o esquer.dev para outras mídias, também! Como eu disse, começo no blog por simplicidade, e é esse caminho que quero seguir. Saindo do blog, começar um podcast, que envolve mais coisas além de simplesmente escrever e publicar, é uma ideia que me interessa. Mais para frente, um canal no YouTube é um sonho, já que me parece a forma mais atrativa e com mais possibilidades de se criar conteúdo hoje em dia.</p>
        <p>Enfim, tudo no seu tempo! Aos poucos vocês ficarão sabendo das novidades e dos planos se concretizando.</p>
        <h2>Como você pode falar comigo?</h2>
        <p>Lendo a página de <strong><a href="{% url "contact" %}">contato</a></strong> ;)!</p>
        {% load static %}
        <img src="{% static "logo.png" %}" alt="esquer.dev logo">
    </div>
{% endblock %}