{% extends "layout.html" %}

{% block google_title %}Contato{% endblock %}
{% block facebook_title %}Contato{% endblock %}
{% block twitter_title %}Contato{% endblock %}

{% block extendable_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/static.css" %}">
    <link rel="stylesheet" href="{% static "css/post.css" %}">
{% endblock %}

{% block title %}Contato{% endblock %}

{% block content %}
    <h1 class="text-center title">Contato</h1>
    <div class="post-body post-div">
        <p>Gostou de uma postagem e quer compartilhar seus pensamentos comigo? Quer tirar uma dúvida? Bater um papo? Nessa página eu te explico as melhores formas de entrar em contato comigo!</p>
        <h2>Twitter</h2>
        <p><a href="https://twitter.com/esquerdev" target="_blank">@esquerdev</a></p>
        <h2>Email</h2>
        <p>{{ "contato@esquer.dev"|urlize }}</p>
        <p>Para garantir a segurança da sua mensagem, você pode criptografar seu email usando minha chave pública PGP. Para isso, faça o <a href="{% static "esquerdev-public-key.gpg" %}" download>download da chave</a> ou copie o conteúdo do arquivo <a href="{% static "esquerdev-public-key.asc" %}">esquerdev-public-key.asc</a> a seguir:</p>
        <pre><code>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBF8cwNIBEADQRbuJ7NXt4yHitHopEWbDGf036/ANru1NGJHJPg+OvQBCfeC4
DecNkIdQLYS093/ZHd4xYQZXNGHsEn0442xY9+zAjzxXqji7/Ydg5HyuUg8yl/B+
EfZL3mj+AER20XvIP5aR5fycbxF9YhTzOXn9OED6T7WrfbOPrC+8MOx/Oz9adejE
vYkVGgeI6IlJ6ABbrywwNZFAYhBt5syeiT+JBbzz+4OUtVKNVslxzBepOPGncE3/
cAU+4HdN+iWbMnSdQ0XhWdT2kCWY39+V42bc3EBHx4MQkMjQxuuQREDFwaTRrNov
vUBda9cuC8qFY8UtFz4KjImbTXnLKFQqnQS0nSyBbDx9an0NsCclMU02CkzSXL+W
EmjJ89d4TCbNeCKRaXWz+BY/hYdUhA3Voh2kh8nch7f5+YnQxVQA8kLYmcOVMrfD
nk0WG+Uoc+diti60j1t98HebZEQda/CwQQybxMNYrout01e3OxwwKoik5YiERvPW
AJ6WrxIooVr3Na4FkAH+5Sy/+Fy9MZQn+U+tJukIrgZ8UEhOidWubqDvBEktJnIz
dOiu+1symjuqW1gc9Hy45nDW1wys6Usm2Iezj8XOFvLCgU/XYqPeH7yJbeybsQdC
rkvzPAlS2MlRj4O097nhNm3r6D+2sVoxHAS+VbkWYehvkaJyrLQ92Ati4QARAQAB
tB55eXl5eXl5YW4gPGNvbnRhdG9AZXNxdWVyLmRldj6JAlQEEwEIAD4WIQR4weRn
pmdQZQMXbhjjhhaLRHarlAUCXxzA0gIbAwUJAeEzgAULCQgHAwUVCgkICwUWAgMB
AAIeAQIXgAAKCRDjhhaLRHarlMi4EACqKnu/l69A+LiVdqhVpOOQk0fBrKwFsbZK
3wvH5KGifhLDAybLlhRcp16i6Uq56wFbhOtVyNPy/pPBxtq6Wop/l4buqPlbxk8F
RQZA89oWw+vM1Cf0uV3fPaMsbUTFLFXlARHBuSRrQFxDlH3oPnWXjA/5ld1up7A0
eIW/dMWYBB9isTp9I/LZjDXthQv0WiQlTYmzf9Q80gcGy4uCNz5KZpJhq5P8nIQm
Dn7x08D/l9rcAAyqec2SOKIme6pHHFRqtMMOiRxRju8o/xVgwBqBxDHexM6uC8TP
T1sYdz+P1L/ok/7aaqQkAZsjbW+kCKn1BvLNDanvKmQTST0L5CCUhxKx2gv6xVPE
4gYU+kHsBPbW9aoEFN9qcC3cRoKdKhzcfw7JYId7y/DMQEKrOQNR160MM/P35WiI
dTlh5FAPyhftTLHFmoqJ3VgtybpqNF/5uM6rm4Ya5MBhr577s5kap6JxG0VYeu7j
lN+ETqbEKa+gs88vaJ4tf6+pN7yYlmIELW4iR5VDj1FV0kNGZ4ZWU3Z2X8xeIL3/
NmVuLZvqkQW4PYSWtcDhr/uIVxkHyQ0fOXcZfC12i7SvBDccyYp7tDV4rvQFlb8J
AxhnuUz239oM3iefkoEQwtKHA3lw+T72LXBqE2cq/60hewoO5lpyX7Xuvby+lL1i
1CLIXuIS+rkCDQRfHMDSARAAwOEZ50wa1Mnoi+LT+q6map3+emxOHCseyMtabXUR
rIgW1sSheyeLYklHAdalonr/TTKwf4ocuFOcT4BZz/U6gLVvsnpeYWwXddB9cDDd
O1Myj4vsTGCdGzJG4y3Am9Cqk1mFE0Jnch4keU7hw0iTYptqVxJoxz4sQbSFFk3g
Q40FkYXO/2HfGfRjkvNmX5GbtRyqV3DlFokqWIybD2Zl1NVBsw9L8wc93ANkb3m4
uW2Xaqdv6/865on6r0mRP6QFpbLmZCqK9cYvj5BBEEmEMU0RusHkUJhiPffcR4E0
AKdoiUz+Cqdr9RbYbTvyn6nDIQSjVywq9Zk1u8Qln18U6aK/do/7BSIoMjaEIArA
6/ihpo9YeGq5T3MuEOcJcEkspXlEYvg/NT9x0ba6nZIdnk7WLMPs4WwxVhQF6iRB
YK/EnNkWKarVcWGWwJmqjjZpls3kWa4tFIpZ/npDN8ewD9A+/XrGlsmAEYovUhdx
3GO7jFUklD7+uSnJGy035gGhQL8cZxfLXgg5snQBVKB4yyAcSQCgoUxqW8Intfda
uUJkdauKXCSUj+rvvMJ64/bHQvZ8qtAc+FgmJs3gJTAEaEyRM7dIS2Zwi2kryzAD
FaiXJReENT/pVUeTTvyYGqNTzPtZy6f4LKsChtlH33ktRBIo7GpoE3QLBnJLSyYl
03kAEQEAAYkCPAQYAQgAJhYhBHjB5GemZ1BlAxduGOOGFotEdquUBQJfHMDSAhsM
BQkB4TOAAAoJEOOGFotEdquUdwEP/1xDOoSXJ9uBJHpYNmtXdC84oQrbmYM1sVq0
ObtxVJ6hfhpszs8MMjttgp+vrlTrF3BxJTBJmdmwSIFQu5j5br05fNknDXnLvfEq
phqymjyyA64TH5iKp3Bn15wXNrFZMSlIltyoDZIoft24bVSHYxinSCAgHOXBOHT9
rncBaKBchEeNrxLBNaqrznmRdMhjUTuW+LJ60d4EoVxAKmHxDeKX4l0rPoukEHTO
AFxiri0DXh/gfPnMRwWWCowAWb+CQLiadRU3eMRJBLDxI9hfn2LL+RrnGvcxoqWm
WSPXyqN5nHDPklt2EO+LQ/Y8TCTjwKCghslBklip77OzBoZn9jiII7P3UgyeG4Y/
mPWTItro7S0ldXixA/TGAQfroM3+W8I/dykxPl8UGZpvg8NyZGptutQNLgUmBwQU
p5alWoDqtjRYtwKFaMz4jWO19btIHnn8oqCwkZasEWy3AqlRkYIqFK2O9IkPQ3Sn
3+AyAk9o1NA7415BSVqH+EX4/8jt5Ba09cShxvMKJlQuXwxzeD3tJwGpF8QwvrJk
Bch95UlVnDYrWEftA7olZXDnPJfsgPvoTPELtIAM5TVsgqCzSGlsYlwgX0kBIQK0
uvMs7IOTWoBL8ss39DJKT1xZfbp6qYH7k8FY9COBGKpncx9sk0diBSpXJN2rQfmW
rhayRe9wuQINBF8c9d0BEAColzjNUnLFTiZ0qclOGqF8StDZzmwMeLY1FjmWspQW
Wj4PSnwkUIzUoze4tAQWa9kzub7ErjJDY54wPuM5VHPtH9bzGR8UedghTRqnP0Lj
miYzsjmT1vqUbQb8CEt5ndUu8ac3NIWCBSu8TuMTOwMsozEcAoDD5U6YMge8L5EI
W241tH80+Su+sqHu15XmpaJtSu0Wpw45PPZtoDG3Md4aEHNCUA/+eiGwL2hjDA11
v6J9U24j32l3jMiQFBMKMvfhY+/E/1yEot5w0sCA3upWqH2d65M6k4T5cxZ3gxbp
/l2YmqvF/rymxdZTjsI1Wq7C1XHw4MI/cL5H1LjCE6wuzoqnr7Yu3MIdwky/iW5t
ABGlJk7pTQfg33gZlJ46ZpTYKceqCfm36M3ufKfJ8JM69GRnTv5GVEDC98+TceSY
jwIbo3heM15MR1PMHf+uVNIV22v5e0dM/y/vXuOjxKd3AAEjL6nrEzUhJLj5+5tO
urHRit661E2+vYABOwtaLzldULZuNYB01ge5kZ8Y/cWGONYRxSXMJydFjI3Ts6kG
Qx5skXPqZJQAM9en2kUFxNRRBCGXZfUDJmyy67kimamQ6O3vtvOXlkG9Uji4Yk42
ksrxr+7/cg+PFm5NPbmtuXiE8Qss8Y5DHP531LAkOTvz7L8MSgifQsAJodWkeztJ
ewARAQABiQRyBBgBCAAmFiEEeMHkZ6ZnUGUDF24Y44YWi0R2q5QFAl8c9d0CGwIF
CQHhM4ACQAkQ44YWi0R2q5TBdCAEGQEIAB0WIQTKS5wHSsDbcXdOXgnPquPSspHT
jgUCXxz13QAKCRDPquPSspHTjoMFD/9IvP+qEWmPMiZZjw5TgTGsZBtdHD70frfg
of3opDVeIZmzyHUJn7L4vOf26T2BJmzKh16mibRokaXB6u+wkHDbFv6jWFsJ1Mp+
cIcNAhN5PzgeEPczMew8f+/2YsO+5DP0jurp8Q9c+5pWpPhDft2SukeL07wMhDUh
IjzUf0x+LIerDOz9sh4bZvxWJfVsSW+IY3CvLbGru5U/qSm8yiQUiQaSj/qaQhGe
/DeZb6h4uIul4ANRYN9YLYOzV36LHMdP6gG1dD9NwB4KeiOjZ6hIpHjJfr/qiXN2
ve+M3PQ9ZUdnGym+RLycx8BzSMKpWNjOIMxGfsBuD28wt5aHo3JCrGKOwtZ2NM5i
1vh+ZIAbrWTCi8lHLm5c0xZBhjHCJraG1QWm9CcP4w+gJrW0NZtlYeav7S8jIMW/
/us/5xozt7/rHYEITLjLMwApEVYV+Icl+9DUAnDr9jDR211O22TQaPlDtTGIV5UF
G7apJrRpxUUYyjyCWxKIoJBfx8IO4yvOL1cruVqgB+MZ9gf6Rel0OaiLeZMpZ9bu
9gJha+Z455emnzV0OP4j/fTcRRKYNzUMZSRnjct6mOJYIrv6XyUXn6bkMWZL6WmW
HeL79H23KFXz8ujLoy98DpEMvw8U4MNfTM/i1k0E/ulGRjwKzu7tAnPYYpBwc5sG
cG403YREMXJAEACRiEAwQ59gBn79k1QLQpqXqyXoWs7aPK3FL1mLjWbdInAnFmak
FwzcY4Syc6/3PwZs7q2PzgWq7RM4ZG5bGkGdCbS04B7WIPt/VeeEsVutLTEJpoC6
iFSphxgDIEFsyumDjeyRTjkQ1V27WJlNRc1DnbJeAUOrelrF36vMm7npa7NXOKmR
We5e3gecow6sWytFeo1m9I0Cy8keCYB6RIyX3/r/FmPSFldwL5sBon6h41bEJbse
hCfpPjLDNaehtcv+tZc5OXMA30VLPqjX0qZuqYATGRNXk3QfBoa32iDGae0fy3Nv
REYZpvyNg3KacymE1XemdxaZHfvmJFbjDONAGHU3t48eW87cBTt6cClCcGje9OeO
aZuBil+a43Qar+pdlUnR87PJmNEnInV3YL1Hg4d9jPm2G092pngOMAvlD8iIvL3U
PYQskrmtkAE0UNGp0uGso+ONcyLVoPNXjgMk5YF3ReHLJqC7HaOiGapZbBGSTFWp
wdBIxta1xuGAxLoY7jNe3ebFRg8zULCF8qxtmihJdSyVXAmm6GfM0xoq6luIegh6
CJa4pP4SLVenhGXv8dSvwRU7LX5MoGx0shu8DnQqdqWdLnnXIxrtDXzDtACW60Xz
FA1CXyVWiHULNOCUM3+wIMNrzOhHK3y8hSs01R1Yc5FXQhXBC/OqbggwdA==
=xe82
-----END PGP PUBLIC KEY BLOCK-----
        </code></pre>
    </div>
{% endblock %}