{% extends "layout.html" %}

{% block title %}Termos e Condições de Uso{% endblock %}

{% block content %}
    <div class="post-div">
        <h1 class="post-title">Termos e Condições</h1>
        <p>04/12/2019</p>
        <p>Por favor, leia estes Termos e Condições ("Termos") com atenção antes de acessar o website esquer.dev (o "Serviço") operado pela equipe do esquer.dev ("Nós", "Nosso").</p>
        <p>Seu acesso e uso desse Serviço é condicionado à sua aceitação e concordância aos Termos aqui descritos. Tais Termos se aplicam a todos os visitantes, usuários e outros que acessem ou usem o Serviço.</p>
        <p>Ao acessar ou usar o Serviço, você concorda em seguir estes Termos. Se você discorda de qualquer parte dos Termos, você não deve acessar o Serviço.</p>
        <h2>Links Para Outros Websites</h2>
        <p>Nosso Serviço pode conter links para sites ou serviços de terceiros que não pertencem ou são controlados pela equipe do esquer.dev.</p>
        <p>A equipe do esquer.dev não tem controle e não assume nenhuma responsabilidade pelo conteúdo, políticas de privacidade ou práticas de sites ou serviços de terceiros. Você também reconhece e concorda que o esquer.dev não será responsável, direta ou indiretamente, por qualquer dano ou perda causada ou supostamente causada por ou em conexão com o uso ou confiança em qualquer conteúdo, bens ou serviços disponíveis em ou através de quaisquer sites ou serviços externos ao Nosso.</p>
        <p>É altamente recomendável que você leia os termos e condições e políticas de privacidade de quaisquer sites ou serviços de terceiros que você visitar.</p>
        <h2>Encerramento de Acesso</h2>
        <p>Podemos encerrar ou suspender o acesso ao nosso Serviço imediatamente, sem aviso prévio, por qualquer motivo, incluindo (mas não se limitando a) caso você viole os Termos.</p>
        <p>Todas as disposições dos Termos que, por sua natureza, devam sobreviver ao encerramento sobreviverão ao encerramento.</p>
        <h2>Legislação Aplicável</h2>
        <p>Estes Termos são governados e interpretados segundo as leis da República Federativa do Brasil e todas as disputas, ações e outros assuntos relacionados serão determinados de acordo com essa legislação.</p>
        <p>Nossa falha em fazer cumprir qualquer direito ou disposição destes Termos não será considerada uma renúncia a esses direitos. Se qualquer disposição destes Termos for considerada inválida ou inexequível por um tribunal, as demais disposições destes Termos permanecerão em vigor. Estes Termos constituem o contrato completo entre nós em relação ao nosso Serviço e substituem quaisquer acordos anteriores que possamos ter entre nós em relação ao Serviço.</p>
        <h2>Alterações</h2>
        <p>Reservamo-nos o direito, a nosso exclusivo critério, de alterar ou substituir estes Termos a qualquer momento. Se uma alteração for substantiva, tentaremos fornecer um aviso com pelo menos 15 dias de antecedência para que novos termos entrem em vigor. O que constitui uma alteração substantiva será determinado a nosso exclusivo critério.</p>
        <p>Ao continuar a acessar ou usar nosso Serviço após a efetivação dessas revisões, você concorda em ficar vinculado aos termos revisados. Se você não concordar com os novos termos, por favor, pare de usar o Serviço.</p>
        <h2>Entre em Contato</h2>
        <p>Se você tem alguma dúvida a respeito destes Termos, por favor, <a href="{% url "contact" %}">entre em contato conosco</a>.</p>
    </div>
{% endblock %}