{% extends "layout.html" %}

{% block title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block content %}
    {% if keyword %}
        <h1 class="tag-title">#{{ keyword|capfirst }}</h1>
    {% endif %}
    {% load markdown %}
    {% for post in posts %}
        <!-- TODO: ajeitar estilo do link -->
        <!-- TODO: adicionar post info -->
        <!-- TODO: ajeitar estilo da descrição -->
        <a href="{% url "post_detail" post.slug %}">
        <div class="border">
            <h1 class="post-list-title">{{ post.title }}</h1>
            {{ post.description }}
        </div>
        </a>
    {% endfor %}
{% endblock %}