{% extends "layout.html" %}

{% block extendable_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/post-list.css" %}">
{% endblock %}

{% block facebook_type %}website{% endblock %}

{% block title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block google_title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block facebook_title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block twitter_title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block content %}
    {% if keyword %}
        <h1 class="tag-title">#{{ keyword|title }}</h1>
    {% endif %}
    {% load markdown %}
    {% for post in posts %}
        <a href="{% url "post_detail" post.slug %}" class="post-link">
        <div class="post-div">
            <small class="post-info">{{ post.pub_date|date}} &bull; Leitura de {{ post.readtime }} min</small>
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-description">{{ post.description }}</p>
            <div class="post-keywords">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 32 32" style=" fill:#000000;"><path d="M 2 8 L 2 24 L 23.0625 24 L 23.34375 23.65625 L 29.90625 16 L 23.34375 8.34375 L 23.0625 8 Z M 4 10 L 22.125 10 L 27.28125 16 L 22.125 22 L 4 22 Z M 23 15 C 22.449219 15 22 15.449219 22 16 C 22 16.550781 22.449219 17 23 17 C 23.550781 17 24 16.550781 24 16 C 24 15.449219 23.550781 15 23 15 Z"></path></svg>
                <span>
                    {{ post.keywords }}
                </span>
            </div>
        </div>
        </a>
    {% endfor %}
    <div class="post-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark">Página Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-dark next-page" href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
        {% endif %}
    </div>
{% endblock %}