{% extends "layout.html" %}

{% block extendable_header %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/post-list.css" %}">
{% endblock %}

{% block title %}
    Posts
    {% if keyword %} - {{ keyword|capfirst }}{% endif %}
{% endblock %}

{% block content %}
    {% if keyword %}
        <h1 class="tag-title">#{{ keyword|capfirst }}</h1>
    {% endif %}
    {% load markdown %}
    {% for post in posts %}
        <!-- TODO: adicionar keywords -->
        <a href="{% url "post_detail" post.slug %}" class="post-link">
        <div class="post-div">
            <small class="post-info">{{ post.pub_date|date}} &bull; Leitura de {{ post.readtime }} min</small>
            <h1 class="post-title">{{ post.title }}</h1>
            <p class="post-description">{{ post.description }}</p>
        </div>
        </a>
    {% endfor %}
    <div class="post-pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-dark">Página Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="btn btn-dark next-page" href="?page={{ page_obj.next_page_number }}">Próxima Página</a>
        {% endif %}
    </div>
{% endblock %}